<script src="/javascripts/profile.js"></script>
<div class="profile-container mr-3 bg-white text-secondary">
    <div class="d-flex flex-column">
        <form id="avatar-form" class="d-flex flex-row justify-content-center align-items-center p-3" action="/users/update/image" method="post" enctype="multipart/form-data">
            <input class="d-none" type="file" name="avatar" id="avatar-input">
            <img id="avatar-display"src="<%=(user.avatar)?user.avatar:'/images/defaultProfile.png'%>" class="img-fluid" alt="">
        </form>
        <div class="d-flex flex-row justify-content-center align-items-center my-3">
            <p>
                <%= user.username + ' (' + user.local.email + ')'%>    
            </p>
        </div>
        <% if(locals.isAuthenticated && user._id.toString() !== currentUser._id.toString()) {%>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <% if(currentUser.following.map( (objectId) => objectId.toString()).includes(user._id.toString())) { %>
                    <a href="/users/unfollow/<%=user._id%>" class="btn btn-outline-primary btn-tweet"><strong>Unfollow</strong></a>
                <%}  else { %>
                    <a href="/users/follow/<%=user._id%> " class="btn btn-primary btn-tweet"><strong>Follow</strong></a>
                <% } %> 
            </div>
        <%}%>
        <div class="d-flex flex-row justify-content-center align-items-center my-3">
            <div class="flex-fill text-center">
                <p>
                    <strong>Tweets</strong>
                    <br>
                    <span class="text-primary">
                        <%= (locals.tweetsList && tweetsList)?tweetsList.filter( (tweet) => { return tweet.author._id.toString() === locals.currentUser._id.toString()}).length:'-'%><!--(TODO Tweets for user) --> 
                    </span>
                </p>                
            </div>
            <div class="flex-fill text-center">
                <p>
                    <strong>Follow</strong>
                    <br>
                    <span class="text-primary">
                        <%= (locals.user && user && user.following)?user.following.length:'-'%>
                    </span>
                </p>     
            </div>
            <div class="flex-fill text-center" >
                <p>
                    <strong>Followed</strong>
                    <br>
                    <span class="text-primary">
                        . TODO
                    </span>
                </p>     
            </div>
        </div>

    </div>
</div>